body {
  font-family: 'Kiwi Maru', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

.navbar .icon {
  color: #f1388f;
  font-weight: 800;
}

.navbar a {
  color: #f1388f; 
  margin-right: 10px;
}

.nav-left {
  justify-content: flex-end;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(235, 211, 211);
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #fd79a8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form {
  border-radius: 8px;
  background-color: #ffffff;
  padding: 20px;
}  


.carousel {
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
}

.carousel-item {
  height: 500px;
}

.carousel-description {
  color: black;
}

.feature-about-image {
  width: 80%;
  border-radius: 10%;
  margin: 0 auto;
}

.feature-about-divider {
  margin: 86px;
}

.home-img {
  display: block;
  float: right;
  margin: 5px 5px;
  padding: 5px 5px;
  width: 40px;
}

.about-main {
  width: 90%;
  height: auto;
  margin: 30px;
  padding: 100px;
  justify-content: end;
  flex-flow: wrap;
  text-align: justify;
  line-height: 20px;
}

.column-left {
  width: 45%;
  margin: 10px;
  padding: 0;
  float: left;
  text-align: justify;
  display: table;
}

.column-right {
  width: 45%;
  margin: 10px;
  padding: 0;
  float: right;
  text-align: justify;
  display: table;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(255, 255, 255);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.container p-2{
  background-color: #f1388f;
}

